#main-nav{
    height: 60px;
}
#main-nav .logo{
    width: 130px;
}

#main-nav .social{
    display: none;
}
#main-nav .menu-items .menu-txt{
     display: none;
}

/* Hero section */
#hero-section .container .hero-text .heading{
    font-size: 23px;
    padding-bottom: 10px;
    font-weight: bold;
}
#hero-section .container .hero-text .subheading{
    font-size: 16px;
    padding-bottom: 10px;
}
#hero-section .container .hero-text .cta1{
    margin-bottom: 15px;
    height: 42px;
    width: 206px;
    /* padding-bottom: 10px; */
} 
#hero-section .container .hero-text .cta2{
    height: 42px;
    width: 150px;
} 

/* About section */

#about-section .container{
    grid-template-columns: auto;
}

#about-section .container .about-text .heading{
    font-size: 20px;
}
#about-section .container .about-text .subheading{
    font-size: 17px;
    padding-top: 7px;
}

#about-section .container .about-text  .cta2{
    height: 42px;
    width: 120px;
    margin-top: 11px;
} 

/* Services */

.service-heading p:last-child{
    font-style: italic;
    color: var(--pink-color);
    font-size: 20px;
}
#service .first_service{

    grid-template-columns: auto;
    padding: 1rem;
    padding-bottom: 2rem;
}

#service .first_service .service-1 p:first-child{

    padding-bottom: 8px;

    font-size: 18px;
}
#service .first_service .service-3 p:first-child{
    padding-bottom: 8px;
    color: var(--dark-color);
    font-size: 18px;
}
#service .first_service .service-1 p,
#service .first_service .service-3 p{
    font-size: 14px;
    line-height: 1.1;

}
/* Testimony */

/* Testimony */
.testimony-heading{
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding-top: 3rem;
}
.testimony-heading p{
    color: var(--light-color);
    font-size: 20px;
    font-weight: bold;
}

#testimony-section{
    min-height: 40vh;
    background: url('../img/asphalt-1867667_1920.png') no-repeat center center/cover;
}
#testimony-section .container .testmony{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    height: 50vh;

}
#testimony-section .container .testmony{
   max-width: 1000px;
   margin: auto;
   overflow: hidden;

}
#testimony-section .container .testmony1{
    padding: 0rem;
}
#testimony-section .container .testmony1 img{
    width: 48px;
}

#testimony-section .container .testmony1 .test_para_1{
    font-size: 10px;
    color: var(--light-color);
}
#testimony-section .container .testmony1 .test_para_2{
    font-size: 13px;
    color: var(--light-color);
    padding-top: 1rem;
    font-style: italic;
}


